.body {
  min-height: 80vh;
  width: 100vw;
  display: grid;
}

.container {
  background-color: #065535;
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 2rem 0;
  place-self: center;
}

.container h3 {
  text-align: center;
  margin-bottom: 0.5rem;
}

.container .form {
  margin: 0 auto;
}

.form input {
  border-color: #065535;

  border-radius: 0.5rem;
  display: block;
  outline: none;
  margin-bottom: 0.4rem;
  padding: 0.3rem 0.5rem;
}

.form input:focus::-webkit-input-placeholder {
  font-size: 0.75em;
  position: relative;
  top: -10px;
  transition: 0.2s ease-out;
}

.form button {
  background-color: #fff;
  color: #065535;
  border-color: none;
  border-radius: 0.5rem;
  font: bold 1rem serif;
  margin: 4px auto 0;
  padding: 0.2rem;
}

.signup {
  color: #fff;
  text-align: right;
  margin-right: 25%;
}

.signup a {
  text-decoration: underline;
}
